<!--
<p>
<#img src="http://www.wings.msn.to/books/<%#= @book.isbn%>/<%#= @book.isbn%>_logo.jpg" width="80" height="30" /><br />
<%#= @book.title %><br />
<%#= @book.publish %>/発行<br />
定価 <%#= @book.price %>円（＋税）<br />
ISBN <%#= @book.isbn %><br />
発刊日： <%#= @book.published %>
</p>
-->

<p>
<%# リストに連番を付与 %>
<%=book_iteration.index + 1 %>
<%=book_iteration.size %>
<%=book_iteration.first? %>
<%=book_iteration.last? %>
<% type = :details if type.nil? %>
<% if type == :details %>
<img src="http://www.wings.msn.to/books/<%= book.isbn%>/<%= book.isbn%>_logo.jpg" width="80" height="30" /><br />
<% end %>
<%= book.title %><br />
<%= book.publish %>/発行<br />
定価 <%= book.price %>円（＋税）<br />
ISBN <%= book.isbn %><br />
発刊日： <%= book.published %>
</p>
